const mariadb = require('mariadb');
const vals = require('./consts.js');

const pool = mariadb.createPool({
    host: vals.host, port:vals.port,
    user: vals.user, password: vals.password,
    database: vals.database
});

async function GetUserList(){
    let conn, rows;
    try{
        conn = await pool.getConnection();
        conn.query('USE hms');
        rows = await conn.query('SELECT * FROM user_host');
    }
    catch(err){
        throw err;
    }
    finally{
        if (conn) conn.end();
        return rows[0];
    }
}

module.exports = {
    getUserList: GetUserList
}
(HMS) root@e4f3b1457ccf:~/b/lhms/views# cat detail.ejs
<!doctype html>
<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
                $(document).on("click","#insBtn",function(){
                        $("#setBtn").prop("disabled",true);
                        var host = $("#host").text();
                        var user = $("#user").text();
                        var pwd = $("#pwd").text();
                        // post
                        var form = document.createElement("form");
                        form.setAttribute("method","post");
                        form.setAttribute("action","/setup");
                        var hiddenField = document.createElement("input");
                        setAttribute("type","hidden");
                        setAttribute("id","host");
                        setAttribute("value",host);
                        form.appendChild(hiddenField);
                        var hiddenField = document.createElement("input");
                        setAttribute("type","hidden");
                        setAttribute("id","user");
                        setAttribute("value",user);
                        form.appendChild(hiddenField);
                        var hiddenField = document.createElement("input");
                        setAttribute("type","hidden");
                        setAttribute("id","pwd");
                        setAttribute("value",pwd);
                        form.appendChild(hiddenField);
                        document.body.appendChild(form);
                        form.submit();
                });
                $(document).on("click","#checkBtn",function(){
                        $("#checkBtn").prop("disabled",true);
                        var host = $("#host").text();
                        var user = $("#user").text();
                        var pwd = $("#pwd").text();
                        // post
                        var form = document.createElement("form");
                        form.setAttribute("method","post");
                        form.setAttribute("action","/check");
                        var hiddenField = document.createElement("input");
                        setAttribute("type","hidden");
                        setAttribute("id","host");
                        setAttribute("value",host);
                        form.appendChild(hiddenField);
                        var hiddenField = document.createElement("input");
                        setAttribute("type","hidden");
                        setAttribute("id","user");
                        setAttribute("value",user);
                        form.appendChild(hiddenField);
                        var hiddenField = document.createElement("input");
                        setAttribute("type","hidden");
                        setAttribute("id","pwd");
                        setAttribute("value",pwd);
                        form.appendChild(hiddenField);
                        document.body.appendChild(form);
                        form.submit();
                });
        </script>
  </head>
  <body>
          <div>
          <a href='https://192.168.7.71:10000/mymodule/'>mainpage</a>
          <a href='https://192.168.7.71:3000'>server list</a>
          </div>
          <div>
          <table>
                  <tr>
                  <th>fname</th>&nbsp;<th>host</th>&nbsp;<th>user</th>&nbsp;<th>pwd</th>&nbsp;<th>inputdt</th>&nbsp;<th>updatedt</th>&nbsp;<th>log</th>&nbsp;<th>status</th>
                  </tr>
                  <% rs.forEach(function(rss,index){ %>
                  <td id="fname"><%= rss.fname %></td>&nbsp;
                  <td id="host"><%= rss.host %>&nbsp;</a></td>
                  <td id="user"><%= rss.user %>&nbsp;</td>
                  <td id="pwd"><%= rss.pwd %>&nbsp;</td>
                  <td><%= rss.inputdt %>&nbsp;</td>
                  <td><%= rss.updatedt %>&nbsp;</td>
                  <td><%= rss.log %></td>
                  <td><%= rss.status %></td>
                  <% }); %>
          </table>
          </div>
  </body>
</html>
